* {
  padding: 0%;
  margin: 0%; }

html {
  size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200; }

.estilos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20% 40%;
  text-align: center; }
  .estilos h1 {
    text-shadow: 0px 0px 0px 12px red; }
  .estilos a {
    text-decoration: none;
    text-align: center;
    padding-top: .5rem;
    transition: .3s;
    color: white; }
    .estilos a:hover {
      transform: scale(1.05);
      color: green; }

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10% 30%; }
  .form .titleForm {
    margin-bottom: 2rem;
    border-bottom: 1px solid gray; }
  .form .nombre {
    border: none;
    padding: 1rem;
    text-align: center;
    margin-bottom: .4rem;
    transition: .5s; }
    .form .nombre:focus {
      box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
      background-color: transparent; }
  .form .email {
    border: none;
    padding: 1rem;
    text-align: center;
    margin-bottom: .4rem;
    transition: .5s; }
    .form .email:focus {
      box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
      background-color: transparent; }
  .form .password {
    border: none;
    padding: 1rem;
    text-align: center; }
    .form .password:focus {
      box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
      background-color: transparent; }
  .form .enviar {
    margin: 7% 30%;
    padding: 1rem;
    background-color: rgba(0, 0, 255, 0.356);
    border: none;
    cursor: pointer;
    transition: .5s;
    color: white;
    font: 800; }
    .form .enviar:hover {
      transform: scale(1.04);
      background-color: rgba(0, 255, 0, 0.356);
      color: black; }
  .form .fotForm a {
    color: #2a4c47;
    text-decoration: none;
    transition: .5s; }
    .form .fotForm a:hover {
      color: black; }

@media (max-width: 760px) {
  body {
    background: linear-gradient(30deg, #DAFF59, #E657D6, #66F05B); }
  .form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center; }
    .form .titleForm {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .form .titleForm .strong {
        margin-bottom: .5rem;
        background: linear-gradient(50deg, #FF8475, #A333DE, #448EF5, #4AE095, #DAFF59);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; } }

.header ul {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center; }
  .header ul li {
    list-style-type: none; }
    .header ul li button {
      background-color: transparent;
      border: none;
      cursor: pointer; }
    .header ul li img {
      cursor: pointer; }

.offcanvas-body .menu {
  margin-left: -9%; }
  .offcanvas-body .menu li {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    list-style-type: none; }
    .offcanvas-body .menu li .menu-item {
      text-decoration: none;
      margin-bottom: 2rem;
      padding: 1rem;
      transition: .2s; }
      .offcanvas-body .menu li .menu-item:hover {
        border-bottom: grey 1px solid; }

body {
  background-color: rgba(0, 0, 0, 0.925); }

.navbar {
  padding-bottom: 2rem; }
  .navbar .container-fluid {
    margin-top: 1rem; }

.gridPeliculas {
  margin: 1rem 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 10%; }
  .gridPeliculas .flexPrint {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .gridPeliculas .flexPrint .titleArray {
      font-size: 15px;
      margin-top: 5%;
      margin-right: 10%; }
  .gridPeliculas .imgPath {
    width: 150px;
    height: 200px;
    transition: .5s;
    border-radius: 10%;
    opacity: 38%; }
    .gridPeliculas .imgPath:hover {
      cursor: pointer;
      transform: scale(1.06);
      box-shadow: 0px 0px 81px 11px white;
      opacity: 100%; }

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: black; }
  .buttons .btnController {
    background-color: rgba(0, 0, 255, 0.479);
    padding: .5rem;
    color: whitesmoke; }

.flayer {
  display: grid;
  grid-template-columns: repeat(4fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin: 2rem; }
  .flayer img {
    grid-column: 1 / 2;
    border-radius: 10%; }
  .flayer .parrafo {
    margin: 2.5rem;
    grid-column: 3 / 4; }

.avatares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 2rem; }
  .avatares .divMode {
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
    margin-bottom: 3rem; }
  .avatares .avatar {
    width: 52px;
    height: 52px;
    transition: .5s; }
    .avatares .avatar:hover {
      transform: rotate(20deg) scale(1.5);
      cursor: pointer; }

img {
  width: 50px;
  height: 50px; }

.btnDark {
  background-image: url(../images&videos/sun.png);
  border: none;
  background-color: black;
  width: 32px;
  height: 32px;
  margin-top: 1rem;
  transition: .5s; }

.btnLight {
  background: transparent;
  border: none;
  background-image: url(../images&videos/night-mode.png);
  width: 32px;
  height: 32px;
  margin-top: 1rem;
  transition: .5s; }

.dark {
  background-color: black;
  color: whitesmoke; }

.light {
  background-color: whitesmoke;
  color: black; }

.sillonBackground {
  background-image: url(../images&videos/sillon1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%; }

.swal-button {
  background-color: #AAEB59;
  color: #D95671;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  border: none;
  transition: .5s; }
  .swal-button:hover {
    box-shadow: 0px 0px 100px 2px black;
    cursor: pointer; }
  .swal-button a {
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s; }

@media (max-width: 760px) {
  #peliculas {
    margin: 2rem 15%;
    display: flex;
    flex-wrap: wrap; } }

.avatar {
  width: 50px;
  height: 50px;
  background-image: url(../images&videos/usuario.png); }

.avatar1 {
  width: 50px;
  height: 50px;
  background-image: url(../images&videos/avatar1.png); }

.avatar2 {
  width: 50px;
  height: 50px;
  background-image: url(../images&videos/avatar2.png); }

.avatar3 {
  width: 50px;
  height: 50px;
  background-image: url(../images&videos/avatar3.png); }

.avatar4 {
  width: 50px;
  height: 50px;
  background-image: url(../images&videos/avatar4.png); }
