.avatar{
    width: 50px;
    height: 50px;
    background-image: url(../images&videos/usuario.png);
}

.avatar1{   
    width: 50px;
    height: 50px;
    background-image: url(../images&videos/avatar1.png);
}

.avatar2{
    width: 50px;
    height: 50px;
    background-image: url(../images&videos/avatar2.png);
}

.avatar3{
    width: 50px;
    height: 50px;
    background-image: url(../images&videos/avatar3.png);
}

.avatar4{
    width: 50px;
    height: 50px;
    background-image: url(../images&videos/avatar4.png);
}