.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    margin-left: 60%;
    margin-right: 15%;
    color: white;
    .titleForm{
        margin-bottom: 2rem;
        border-bottom: 1px solid gray;
    
    }
    .nombre{
        border: none;
        padding: 1rem;
        text-align: center;
        margin-bottom: .4rem;
        transition: .5s;
        color: black;
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
            color: white;
            border: none 0px;
        }
    }
    .email{
        border: none;
        padding: 1rem;
        text-align: center;
        margin-bottom: .4rem;
        transition: .5s;
        color: black;
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
            color: white;
        }
    }
    .password{
        border: none;
        padding: 1rem;
        text-align: center;
        color: black;
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
            color:white ;
        }
    }
    .enviar{
        margin: 7% 30%;
        padding: 1rem;
        background-color: rgba(0, 0, 255, 0.356);
        border: none;
        cursor: pointer;
        transition: .5s;
        color: rgb(255, 255, 255);
        font: 800;
        &:hover{
            transform: scale(1.04);
            background-color: rgba(0, 255, 0, 0.356);
            color:black;
        }
    }
    .fotForm{
        a{
            color:#03f3cf;
            text-decoration: none;
            transition: .5s;
            &:hover{
                color:black;
            }
        }
    }
}

body{
    background-image: url(../images&videos/background.jpg);
}
@media(max-width:760px){
    body{
        background-image: url(../images&videos/mobile-background.jpg);
    }
    .form{
        display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    .titleForm{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .strong{
            margin-bottom: .5rem;
            background: linear-gradient(50deg , #FF8475,#A333DE,#448EF5,#4AE095,#DAFF59);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    }
    }
