.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10% 30%;
    .titleForm{
        margin-bottom: 2rem;
        border-bottom: 1px solid gray;
    
    }
    .nombre{
        border: none;
        padding: 1rem;
        text-align: center;
        margin-bottom: .4rem;
        transition: .5s;
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
        }
    }
    .email{
        border: none;
        padding: 1rem;
        text-align: center;
        margin-bottom: .4rem;
        transition: .5s;
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
        }
    }
    .password{
        border: none;
        padding: 1rem;
        text-align: center;
       
        &:focus{
            box-shadow: 0px 0px 14px 10px rgba(0, 0, 255, 0.356);
            background-color: transparent;
        }
    }
    .enviar{
        margin: 7% 30%;
        padding: 1rem;
        background-color: rgba(0, 0, 255, 0.356);
        border: none;
        cursor: pointer;
        transition: .5s;
        color: rgb(255, 255, 255);
        font: 800;
        &:hover{
            transform: scale(1.04);
            background-color: rgba(0, 255, 0, 0.356);
            color:black;
        }
    }
    .fotForm{
        a{
            color:#2a4c47;
            text-decoration: none;
            transition: .5s;
            &:hover{
                color:black;
            }
        }
    }
}
