*{
    padding: 0%;
    margin: 0%;
    
}
html{
    size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}


.estilos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20% 40%;
    text-align: center;
    h1{
        text-shadow: 0px 0px 0px 12px red;
    }
    a{
        text-decoration: none;
        text-align: center;
        padding-top: .5rem;
        transition: .3s;
        color: white;
        &:hover{
            transform: scale(1.05);
            color: green;
        }
    }
 
}
