  body{
  background-color: rgba(0, 0, 0, 0.925);
}
.navbar{
  padding-bottom: 2rem;
  .container-fluid{
    margin-top: 1rem;
  }
}
.gridPeliculas{
    margin: 1rem 10%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr) ;
    grid-template-rows: repeat(5,1fr);
    gap: 2rem;
    margin-top: 10%;
  .flexPrint{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titleArray{
      font-size: 15px;
      margin-top: 5%;
      margin-right: 10%;
    
    }
  }
    .imgPath{
        width: 150px;
        height: 200px;
        transition: .5s;
        border-radius: 10%;
        opacity: 38%;
        &:hover{
          cursor: pointer;
          transform: scale(1.06);
          box-shadow: 0px 0px 81px 11px white;
          opacity: 100%;
        }
    }
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: black;

  .btnController{
    background-color: rgba(0, 0, 255, 0.479);
    padding: .5rem;
    color: whitesmoke;
    
  }
}
.flayer{
  display: grid;
  grid-template-columns: repeat(4fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin: 2rem;
  img{
    grid-column: 1 / 2;
    border-radius: 10%;

  }
  .parrafo{
    margin: 2.5rem;
    grid-column: 3 / 4 ;
  }
}
.avatares{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 2rem;
  .divMode{
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
    margin-bottom: 3rem;
  
  }
  .avatar{
    width: 52px;
    height: 52px;
    transition: .5s;
      &:hover{
  
        transform: rotate(20deg) scale((1.5));
        cursor: pointer;
      }
  }
}
img{
  width: 50px;
  height: 50px;
}

.btnDark{
  background-image: url(../images&videos/sun.png);
  border: none;
  background-color: black;
  width: 32px;
  height: 32px;
  margin-top: 1rem;
  transition: .5s;

}

.btnLight{
  background: transparent;
  border: none;
  background-image: url(../images&videos/night-mode.png);
  width: 32px;
  height: 32px;
  margin-top: 1rem;
  transition: .5s;
 
}

.dark{
  background-color: black;
  color: whitesmoke;
}
.light{
  background-color: whitesmoke;
  color: black;
}

.sillonBackground{
  background-image: url(../images&videos/sillon1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}
.swal-button{
  background-color:#AAEB59;
  color:#D95671 ;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  border: none;
  transition: .5s;
  &:hover{
    box-shadow: 0px 0px 100px 2px black;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s;
  
  }
}
@media(max-width:760px){
  #peliculas{
    margin: 2rem 15%;
    display: flex;
   flex-wrap: wrap;
  }
}